*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: $black;
  background: $bg-color;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  margin: 0;
  display: block;
  margin-left: auto;
  padding: 10px 30px;
  width: auto;
  overflow: visible;
  background: $border-color;
  color: darkslategray;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
}

.main {
  padding-top: 80px;

  &__content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - $top-spacing);
  }
}

.content {
  flex-grow: 1;
  overflow-y: scroll;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid $border-color;
  background: $bg-color;
  z-index: 999;
}

.header {
  display: flex;
  align-items: center;
}

.footer {
  padding: 15px 0;
  border-top: 1px solid $border-color;
  background: $bg-color;

  &__input {
    width: 100%;
    border: 1px solid $border-color;
    padding: 15px;
    resize: none;
    height: 100px;
    border-radius: 10px;

    &:focus {
      outline: none;
      border: 1px solid grey;
    }
    &.warning {
      border: 1px solid red;
    }
  }

  &__button {
    display: block;
    margin-left: auto;
  }
}

.item {
  position: relative;
  background: $white;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid $border-color;
  margin: 7px 0 10px;

  &__remove {
    position: absolute;
    width: 30px;
    height: 30px;
    background: $white;
    border-radius: 50%;
    right: -10px;
    top: -10px;
    cursor: pointer;
  }

  &__title {
    display: flex;
    align-items: center;

    & img {
      margin-right: 10px;
    }

    & span {
      font-weight: 600;
    }
  }

  &__date {
    font-size: 14px;
    color: grey;
  }

  & > *:not(.item__title, .item__remove) {
    padding-left: 40px;
  }
}
