.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}

@media (min-width: $size-sm) {
  .container {
    max-width: 360px;
    padding: 0 16px;
  }
}
@media (min-width: $size-md) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media (min-width: $size-lg) {
  .container {
    max-width: 1024px;
    padding: 0 60px;
  }
}
